@model IDWDBClient.DataRow
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#openbtn').click(function () {
            $.get('@Url.Action("OpenReg")')
        });
    });
</script>
<div class="jumbotron">
    @if (Model == null)
    {
    <h2>Hello, @IDWReg.AccountFriendlyName! Welcome to IDWDB!</h2>
    }else
    {
        <h2>Welcome; @(Model["FirstName"].Value+" "+Model["LastName"].Value)</h2>
    }
    <p class="lead">IDWDB is a highly-scalable, performant, easy-to-use NoSQL database!</p>
    @if (Model == null)
    {
    <p><a href="@Url.Action("Login")" class="btn btn-primary btn-lg">Login &raquo;</a> or <a href="@Url.Action("CreateAccount")" class="btn btn-primary btn-lg">Create Account &raquo;</a></p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Two files have been created on your desktop:
            <br />rsa (contains RSA private key, KEEP THIS PRIVATE!)
            <br />rsa_pub (contains your public key; used to validate your identity to our database system)
        </p>
        <p><a class="btn btn-default" href="https://idwnetcloudcomputing.com/docs">View documentation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Publishing this website to a web server</h2>
        <p>If you wish to publish this site to a web server, edit the key_path field in IDWReg.cs to point to the path to your private key on your web server. If you wish to authenticate to our database system on a remote website, your private key will have to be uploaded to your web host.</p>
        <p><a class="btn btn-default" id="openbtn">Open in Visual Studio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage your database</h2>
        <p>You can add and remove encryption keys, change account passwords, and more through our easy-to-use portal interface!</p>
        <p><a class="btn btn-default" href="https://idwnetcloudcomputing.com/Portal">Portal &raquo;</a></p>
    </div>
</div>